{% extends "base.html" %}
    {% load static %}

<!--******************************  -->
<!--******************************  -->

    {% block content %}      
    <h1>
        新增帳號:
        <p>
        <form action="\useradd\" method="POST">
            {% csrf_token %}
            帳號: <input type="text" name="account"><p>
            密碼: <input type="text" name="password"><p>
            姓名: <input type="text" name="name"><p>
            <!-- 電話: <input type="password" name="tel"><p> -->
            <input type="submit" value="送出">
            <!-- <button>登入</button> -->
        </form>
    </h1>

{% endblock %}