{% extends 'root.html' %}
{% block head %}
    <style>
        h1,
        td,
        th,
        a {
            text-align: center;
        }


        a {
            text-decoration: none;  
                
        }
    </style>
{% endblock %}
{% block body %}
{% block content %}
    <h1>顯示所有使用者帳號</h1>
    <!-- <div class="qq"><a href="/">回首頁</a></div> -->
    <table border="1" align="center">
        <tr>
            <th>項次</th>
            <th>姓名</th>
            <th>帳號</th>
            <th>密碼</th>
            <th>權限</th>
            <th>操作</th>
        </tr>
        {% for i in data %}
        <tr>
            <td width="100px">{{forloop.counter}}</td>
            <td width="100px">{{i.1}}</td>
            <td width="100px">{{i.2}}</td>
            <td width="100px">{{i.3}}</td>
            <td width="100px">{{i.4}}</td>
            <td class="flex" width="150px">
                <a class="center" href="/userupdate/{{i.0}}">編輯</a> &nbsp;
                <a href="/userdelete/{{i.0}}" onclick="return dbconfirm('確認刪除')">刪除</a>
                <!-- <form class="center" action="/userdelete/" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{i.0}}">
                    <input type="submit" value="刪除">
                </form> -->
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
{% endblock %}
